In [37]:
%pip install pandas numpy scikit-learn

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in ./.venv/lib/python3.12/site-packages (2.1.2)
Requirement already satisfied: scikit-learn in ./.venv/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [57]:
df = pd.read_csv('dropped_data.csv')
df.head()

,id,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,posting_date
0,7316356412,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,full-size,truck,black,2021-05-03 14:02:03-05:00
1,7314560853,19900,2004.0,ford,f250 super duty,good,8 cylinders,diesel,88000.0,clean,automatic,4wd,full-size,pickup,blue,2021-04-29 17:19:18-05:00
2,7313406529,14000,2012.0,honda,odyssey,excellent,6 cylinders,gas,95000.0,clean,automatic,fwd,full-size,mini-van,silver,2021-04-27 12:20:01-05:00
3,7312847466,22500,2001.0,ford,f450,good,8 cylinders,diesel,144700.0,clean,manual,rwd,full-size,truck,white,2021-04-26 11:15:36-05:00
4,7312144944,15000,2017.0,dodge,charger rt 4dr sedan,excellent,8 cylinders,gas,90000.0,rebuilt,automatic,rwd,mid-size,sedan,grey,2021-04-24 18:39:59-05:00

In [40]:
print(f"fuel {df['fuel'].unique()}")
print(f"title {df['title_status'].unique()}")
print(f"manufacturer {df['manufacturer'].unique()}")
print(f"transmission {df['transmission'].unique()}")
print(f"drive {df['drive'].unique()}")
print(f"size {df['size'].unique()}")
print(f"type {df['type'].unique()}")
print(f"paint color {df['paint_color'].unique()}")
print(f"cyl {df['cylinders'].unique()}")

fuel ['gas' 'diesel' 'hybrid' 'electric' 'other']
title ['clean' 'rebuilt' 'salvage' 'lien' 'missing' 'parts only']
manufacturer ['ford' 'honda' 'dodge' 'chrysler' 'toyota' 'chevrolet' 'jeep' 'lexus'
 'bmw' 'gmc' 'mercedes-benz' 'mazda' 'ram' 'nissan' 'ferrari' 'audi'
 'mitsubishi' 'infiniti' 'volkswagen' 'kia' 'hyundai' 'fiat' 'acura'
 'cadillac' 'lincoln' 'jaguar' 'saturn' 'volvo' 'alfa-romeo' 'buick'
 'subaru' 'mini' 'pontiac' 'rover' 'porsche' 'harley-davidson' 'tesla'
 'mercury' 'datsun' 'land rover' 'aston-martin']
transmission ['automatic' 'manual' 'other']
drive ['rwd' '4wd' 'fwd']
size ['full-size' 'mid-size' 'compact' 'sub-compact']
type ['truck' 'pickup' 'mini-van' 'sedan' 'offroad' 'van' 'SUV' 'convertible'
 'coupe' 'hatchback' 'wagon' 'other' 'bus']
paint color ['black' 'blue' 'silver' 'white' 'grey' 'yellow' 'red' 'green' 'brown'
 'custom' 'purple' 'orange']
cyl ['6' '8' '4' '5' '10' '3' '12']

In [58]:
df.drop(columns=["id", "posting_date"], inplace=True)
df['cylinders'] = df['cylinders'].str.replace('cylinders', '').str.strip()
most_common_cylinders = df.loc[df['cylinders'] != 'other', 'cylinders'].mode()[0]
df['cylinders'] = df['cylinders'].replace('other', most_common_cylinders)
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,15000,2013.0,ford,f-150 xlt,excellent,6,gas,128000.0,clean,automatic,rwd,full-size,truck,black
1,19900,2004.0,ford,f250 super duty,good,8,diesel,88000.0,clean,automatic,4wd,full-size,pickup,blue
2,14000,2012.0,honda,odyssey,excellent,6,gas,95000.0,clean,automatic,fwd,full-size,mini-van,silver
3,22500,2001.0,ford,f450,good,8,diesel,144700.0,clean,manual,rwd,full-size,truck,white
4,15000,2017.0,dodge,charger rt 4dr sedan,excellent,8,gas,90000.0,rebuilt,automatic,rwd,mid-size,sedan,grey

In [ ]:
label_encoder = LabelEncoder()

# Apply label encoding to 'condition' and 'size'
df['condition'] = label_encoder.fit_transform(df['condition'])
df['size'] = label_encoder.fit_transform(df['size'])
df['manufacturer'] = label_encoder.fit_transform(df['manufacturer'])
df['model'] = label_encoder.fit_transform(df['model'])
df['paint_color'] = label_encoder.fit_transform(df['paint_color'])
df['type'] = label_encoder.fit_transform(df['type'])

# one hot encoding
df = pd.get_dummies(df, columns=['fuel', 'transmission', 'title_status', 'drive'], drop_first=True)

In [71]:
df.columns
pd.set_option('display.max_columns', None)
df.head()

,price,year,manufacturer,model,condition,cylinders,odometer,size,type,paint_color,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,transmission_manual,transmission_other,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage,drive_fwd,drive_rwd
0,15000,2013.0,13,3869,0,6,128000.0,1,10,0,False,True,False,False,False,False,False,False,False,False,False,False,True
1,19900,2004.0,13,4233,2,8,88000.0,1,8,1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,14000,2012.0,16,6337,0,6,95000.0,1,5,9,False,True,False,False,False,False,False,False,False,False,False,True,False
3,22500,2001.0,13,4365,2,8,144700.0,1,10,10,False,False,False,False,True,False,False,False,False,False,False,False,True
4,15000,2017.0,10,2242,0,8,90000.0,2,9,5,False,True,False,False,False,False,False,False,False,True,False,False,True